.mobile-menu {
  background-image: url(../../assets/images/mobileMenuSectionBg.png);
  width: 300px;
  height: fit-content;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  right: 0;
  top: 44px;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 30px 12px 24px 0;

  &.dark {
    background-image: url(../../assets/images/mobileMenuSectionBg_dark.png);
  }
  

  &-item {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    font-family: "Ovsyanka Press", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1em;
    transition: 0.2s;

    &:not(:first-child) {
      margin-top: 20px;
      &:hover {
        scale: 106%;
        box-sizing: border-box;
        padding-right: 2px;
      }
    }
  }

  &-taglist-button {
    height: 24px;
    width: 252px;
    font-family: "Ovsyanka Press", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1em;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: right;
    flex-direction: row;

    & label {
      font-size: 12px;
      cursor: pointer;
      margin: 0;
      float: left;
      
      &:hover {
        color: white;
      }
    }
  }
}
