.user-personals-section {
  width: 320px;
  height: 534px;
  background-image: url(../../assets/images/mobileUserPersonalsBg.png);
  box-sizing: border-box;
  padding: 52px 24px 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin-top: 30px;

  &.dark {
    background-image: url(../../assets/images/mobileUserPersonalsBg_dark.png);
  }

  @media (min-width: 768px) {
    width: 180px;
    height: 300px;
    padding: 20px 16px 0;
    margin: 0;
  }

  @media (min-width: 1024px) {
    height: 324px;
  }

  &__list {
    width: 100%;
    height: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      padding: 0;
      width: 100%;
      height: fit-content;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        margin-bottom: 10px;
        height: 36px;
      }

      &__button {
        align-self: flex-end;
        font-size: 10px;
        line-height: 10px;
        width: fit-content;
        margin-right: 8px;
        color: rgb(123, 123, 123);
        cursor: pointer;

        &.dark {
          color: rgb(102, 84, 56);
        }

        @media (min-width: 768px) {
          font-size: 8px;
          line-height: 8px;
        }
      }

      &__prop {
        height: 36px;
        width: 100%;
        background-color: #e1e1e1;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding-left: 4px;

        &.dark {
          background-color: #e5ccad;
        }

        @media (min-width: 768px) {
          height: 20px;
          font-size: 12px;
        }
      }
    }
  }
}
