@font-face {
  font-family: "Ovsyanka";
  src: local(Ovsyanka), url(../../assets/fonts/Ovsyanka.ttf) format("truetype");
}

body {
  font-family: "Ovsyanka", sans-serif;
  margin: 0;
}

.appWrapper {
  background-image: url(../../assets/images/mobileBodyBg.png);
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: repeat;
  background-size: contain;
  cursor: default;

  @media (min-width: 768px) {
    background-image: url(../../assets/images/tabletBodyBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
  }
  
  @media (min-width: 1024px) {
    background-image: url(../../assets/images/laptopBodyBg.png);
    background-size: contain;
    height: 100vh;
    background-size: 100% 100%;
  }
}