@font-face {
  font-family: "Ovsyanka";
  src: local(Ovsyanka), url(../../assets/fonts/Ovsyanka.ttf) format("truetype");
}

@font-face {
  font-family: "Ovsyanka Press";
  src: local(Ovsyanka Press),
    url(../../assets/fonts/Ovsyanka_Press.ttf) format("truetype");
}

body {
  font-family: "Ovsyanka", sans-serif;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.appWrapper {
  background-image: url(../../assets/images/mobileBodyBg.png);
  display: flex;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background-repeat: repeat;
  background-size: 100%;
  cursor: default;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    background-image: url(../../assets/images/tabletBodyBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 636px;
    padding-bottom: 0;
  }

  @media (min-width: 1024px) {
    background-image: url(../../assets/images/laptopBodyBg.png);
    background-size: contain;
    height: 100vh;
    background-size: 100% 100%;
  }
}
