.hidden {
  display: none;
}

.recipe-description-section {
  background-image: url(../../assets/images/mobileRecipeDescriptionSectionBg.png);
  width: 320px;
  box-sizing: border-box;
  padding: 24px 6px 0;
  background-repeat: no-repeat;
  z-index: 2;
  height: 500px;

  @media (min-width: 768px) {
    background-image: url(../../assets/images/tabletRecipeDescriptionSectionBg.png);
    width: 440px;
    padding: 24px 10px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__cutaway {
      background-color: rgba(38, 255, 0, 0.1);
      height: 130px;
    }

    &__info {
      background-color: rgba(255, 238, 0, 0.1);
      display: flex;
      justify-content: space-between;

      &__ingredients {
        background-color: rgba(255, 0, 0, 0.1);
        height: 154px;
        width: 118px;
      }

      &__details {
        background-color: rgba(128, 0, 255, 0.1);
        width: 186px;
        height: 314px;

        @media (min-width: 768px) {
          width: 270px;
        }
      }
    }
  }
}
