.homePage {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  z-index: 1;

  @media (min-width: 768px) {
    background-image: url(../../assets/images/tabletSectionsWrapperBg.png);
    width: 660px;
    height: 490px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 52px 0;
    margin-top: 118px;
    &.dark {
      background-image: url(../../assets/images/tabletSectionsWrapperBg_dark.png);
    }
  }

  @media (min-width: 1024px) {
    background-image: url(../../assets/images/laptopSectionsWrapperBg.png);
    width: 1024px;
    height: 510px;
    padding: 44px 78px 0;
    margin-top: 156px;
    &.dark {
      background-image: url(../../assets/images/laptopSectionsWrapperBg_dark.png);
    }
  }
}
