.search-results-page {
  box-sizing: border-box;
  background-image: url(../../assets/images/mobileSearchResultsSectionBg.png);
  width: 320px;
  background-size: 100% 100%;
  margin-top: 60px;
  text-align: center;
  padding: 20px 16px;
  z-index: 1;

  &.dark {
    background-image: url(../../assets/images/mobileSearchResultsSectionBg_dark.png);
  }

  @media (min-width: 768px) {
    background-image: url(../../assets/images/tabletSearchResultsSectionBg.png);
    width: 660px;
    height: 490px;
    padding: 16px 30px 0;
    margin-top: 118px;

    &.dark {
      background-image: url(../../assets/images/tabletSearchResultsSectionBg_dark.png);

    }
  }

  @media (min-width: 1024px) {
    background-image: url(../../assets/images/laptopSearchResultsSectionBg.png);
    width: 1024px;
    height: fit-content;
    padding: 34px 24px;
    margin-top: 156px;

    &.dark {
      background-image: url(../../assets/images/laptopSearchResultsSectionBg_dark.png);

    }
  }
}
